# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Pyc files
*.pyc

# Vagrant
.vagrant/

# Executables
hello-world/hello_world
send-recv/send_recv
send-recv/ping_pong
send-recv/ring
broadcast/broadcast
